.idea
**/logs
*.pid
*.jar
*.iml
**/target
**/temp/**
/build/
/src/main/frontend/build/
/src/main/frontend/node_modules/
/src/main/frontend/tsconfig.tsbuildinfo
/src/main/resources/templates/
/src/main/resources/conf.properties

.settings
.classpath
.project
*.*~
*.log
!.mvn/wrapper/maven-wrapper.jar
mail.bgv
log
